:root {
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    width: 100%;
    height: 100%;
    

    font-family: 'Open Sans', sans-serif;
    background: url(images/bg-mobile.svg), var(--violet);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;

    text-align: center;
    font-size: 14px;

    
}

.page {
    margin: 10%;
}

img {
    display: block;
    width: 100%;
    /* height: auto; */
    margin: 55px 0;
}

header img {
    width: 42%;
    max-width: 220px;
    margin-top: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    padding: 10px 0;
    
}

p {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.6;
}

.button {
    display: block;
    width: 200px;
    background-color:#fff;
    color: var(--violet);
    padding: 12px 0;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin: 20px auto;
}

.button:hover {
    background-color: var(--softmagenta);
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 60px auto 0;
    background-color: yellowgreen;
}

li {
    display: inline-block;
}

i {
    font-size: 0.9em;
    padding: 5px;
    margin: 4px;
    width: 27px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

i:hover {
    color: var(--softmagenta);
    border-color: var(--softmagenta);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
}

footer p {
    padding: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; }


.attribution a { 
    color: #fff; 
    text-decoration: none;
}

.attribution a:hover {
    color: var(--softmagenta);
}

@media only screen and (min-width: 800px) {

    body {
        background: url(images/bg-desktop.svg), var(--violet);
        background-repeat: no-repeat;
    /* background-size: contain; */
    }

   .flex-container {
       display: flex;
       /* align-items: flex-start;
       justify-content: center; */
       max-width: 1296px;
       margin: 0 auto;
   }

   .page {
    margin: 4% 5%;
}

img {
    width: 55%;
    margin: 40px 0;
}

.text {
    width: 45%;
    align-self: flex-start;
    text-align: left;
    padding: 75px 25px 0 50px;
}

h1 {
    font-size: 2.9em;
}

p {
    font-size: 1.2em;
    padding: 10px 0;
}

.button {
    padding: 15px 0;
    border-radius: 30px;
    font-size: 1.3em;
    margin: 10px 0;
}

ul {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
        
    }
    




    